{% extends 'layouts/main.html' %}
{% block 'content' %}
    <!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Users</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          {% comment %} <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v2</li>
          </ol> {% endcomment %}
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      {% comment %} {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% endif %} {% endcomment %}
      <div class="card">
        <div class="card-header">
            <a href="#" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#addUserModal">+ Add</a>
        </div>
        <div class="card-body">
          
          <table class="table table-striped" id="categoriesTable">
            <thead>
              <tr>
                <th>NO</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% if usersCount > 0 %}
              {% for user in page_obj %}
              
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                
                <td class="float-right">
                  <a data-toggle="modal" data-id="{{ user.id }}" data-firstname="{{ user.first_name }}" data-lastname="{{ user.last_name }}" data-username="{{ user.username }}" data-email="{{ user.email }}" data-target="#editCategoryModal" href='#' class="btn btn-warning btn-sm editCategoryBtn"><i class="fa fa-edit"></i></a> 
                  <a data-toggle="modal" data-id="{{ user.id }}" data-target="#deleteCategoryModal" href='#' class="btn btn-danger btn-sm deleteCategoryBtn"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="6">No data available in table</td>
               
              </tr>
              {% endif %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <div class="pagination">
                    {% comment %} {% if page_obj.has_previous %}
                        <a class="btn btn-default btn-sm paginationBtn" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <a class="btn btn-default btn-sm paginationBtn ml-1 active">{{ num }}</a>
                    {% else %}
                        <a href="?page={{ num }}" class="btn btn-default btn-sm paginationBtn ml-1">{{ num }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-default btn-sm paginationBtn ml-1" href="?page={{ num }}">Next</a>
                    {% endif %} {% endcomment %}
                </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer">
          {% if page_obj and page_obj.has_next or page_obj.has_previous %}
          <div class="pl-2">
            <nav aria-label="Page navigation example ml-5">
              <ul class="pagination float-right">
      
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}
      
                {% for n in nums %}
                  <li class="page-item">
                  {% if forloop.counter == page_obj.number %}
                    <a class="page-link active bg-blue">{{forloop.counter}}</a>
                  {% else %} 
                    <a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a>
                  {% endif %}
                  </li>
                {% endfor %}
      
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
      
              </ul>
            </nav>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->

  <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="addUserForm" action="{% url 'addUser' %}" method="POST">
          {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label>First Name <strong class="text-danger">*</strong></label>
                <input type="text" name="first_name" class="form-control" id="firstname-field">
                <span class="invalid-feedback firstname-error-message"></span>
            </div>
            <div class="form-group">
                <label>Last Name <strong class="text-danger">*</strong></label>
                <input type="text" name="last_name" class="form-control" id="lastname-field">
                <span class="invalid-feedback lastname-error-message"></span>
            </div>
            <div class="form-group">
                <label>Username <strong class="text-danger">*</strong></label>
                <input type="text" name="username" class="form-control" id="username-field">
                <span class="invalid-feedback username-error-message"></span>
            </div>
            <div class="form-group">
                <label>Email <strong class="text-danger">*</strong></label>
                <input type="email" name="email" class="form-control" id="email-field">
                <span class="invalid-feedback email-error-message"></span>
            </div>
            <div class="form-group">
                <label>Password <strong class="text-danger">*</strong></label>
                <input type="password" name="password" class="form-control" id="password-field">
                <span class="invalid-feedback password-error-message"></span>
            </div>
            <div class="form-group">
                <label>Confirm Password <strong class="text-danger">*</strong></label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password-field">
                <span class="invalid-feedback confirm_password-error-message"></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btnSave">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  

   <!-- Edit Group Modal -->

   <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editUserForm" action="{% url 'editUser' %}" method="POST">
          {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label>First Name <strong class="text-danger">*</strong></label>
                <input type="text" name="first_name" class="form-control" id="firstname-field">
                <span class="invalid-feedback firstname-error-message"></span>
            </div>
            <div class="form-group">
                <label>Last Name <strong class="text-danger">*</strong></label>
                <input type="text" name="last_name" class="form-control" id="lastname-field">
                <span class="invalid-feedback lastname-error-message"></span>
            </div>
            <div class="form-group">
                <label>Username <strong class="text-danger">*</strong></label>
                <input type="text" name="username" class="form-control" id="username-field">
                <span class="invalid-feedback username-error-message"></span>
            </div>
            <div class="form-group">
                <label>Email <strong class="text-danger">*</strong></label>
                <input type="email" name="email" class="form-control" id="email-field">
                <span class="invalid-feedback email-error-message"></span>
            </div>
            
        </div>
        <input type="hidden" name="edit_id" id="edit-user-id">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btnSave">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- delete Group modal -->

  <!-- Modal HTML -->
  <div id="deleteCategoryModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <div class="icon-box">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div> -->
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <form action="{% url 'deleteCategory' %}" method="POST" id="deleteCategoryForm">

          {% csrf_token %}
          <input type="hidden" id="delete-category-id" name="delete_id">

        <div class="modal-body">
          <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger btnDelete">Delete</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {% load static %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/category.js' %}"></script> {% endcomment %}
    <script>
      $(function(){

      

        $('#addUserForm').on('submit', function(event) {
          event.preventDefault();
          
          $.ajax({
              url: $("#addUserForm").attr('action'),
              type: 'POST',
              data: new FormData(this),
              
              headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              },
              processData: false,
              contentType: false,
              success: function(response) {
                toastr.success(response.message);
                $("#addUserModal").modal('hide');
                $("#addUserForm").trigger('reset');
                $("#firstname-field").removeClass('is-invalid');
                $("#lastname-field").removeClass('is-invalid');
                $("#username-field").removeClass('is-invalid');
                $("#email-field").removeClass('is-invalid');
                $("#password-field").removeClass('is-invalid');
                
                $(".firstname-error-message").text("");
                $(".lastname-error-message").text("");
                $(".username-error-message").text("");
                $(".email-error-message").text("");
                $(".password-error-message").text("");
                
                $(".invalid-feedback").text("");
                setTimeout(function(){
                  location.reload();
                }, 1000);
              },
              error: function(error) {
                console.log(error);
                if(error.responseJSON.first_name != '') {
                  $("#firstname-field").addClass('is-invalid');
                  $(".firstname-error-message").text(error.responseJSON.first_name);
                }
                if(error.responseJSON.last_name != '') {
                  $("#lastname-field").addClass('is-invalid');
                  $(".lastname-error-message").text(error.responseJSON.last_name);
                }
                if(error.responseJSON.username != '') {
                    $("#username-field").addClass('is-invalid');
                    $(".username-error-message").text(error.responseJSON.username);
                }
                if(error.responseJSON.email != '') {
                    $("#email-field").addClass('is-invalid');
                    $(".email-error-message").text(error.responseJSON.email);
                }
                if(error.responseJSON.password != '') {
                    $("#password-field").addClass('is-invalid');
                    $(".password-error-message").text(error.responseJSON.password);
                }
              }
          });
      });
        
        $("#categoriesTable").on('click', '.editCategoryBtn', function() {
          let id = $(this).data("id");
          let name = $(this).data("name");
          let group_id = $(this).data("group-id");
          let image = $(this).data("image");
        
          $("#edit-category-id").val(id);
          $("#edit-category-name").val(name);
          $("#edit-category-group-id").val(group_id).trigger("change");
          if(image == "") {
            $("#imageShow").attr("src", "{% static 'images/userImage.png' %}").attr("alt", alt);
          }
          $("#edit-category-image").attr("src", image);
          $("#imageShow").attr("src", "/media/"+image).attr("alt", alt);
        
        });

        $("#editCategoryForm").on('submit', function(e){
          e.preventDefault();
          
          $.ajax({
            url: $("#editCategoryForm").attr('action'),
            type: "POST",
            data: new FormData(this),
            processData: false,
            contentType: false,
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
              toastr.success(response.message);
              $("#editCategoryModal").modal('hide');
              $("#editCategoryForm").trigger('reset');
              $("#edit-category-name").removeClass('is-invalid');
              $("#edit-category-group-id").removeClass('is-invalid');
              $(".edit-name-error-message").text("");
              $(".edit-group-error-message").text("");
              $(".invalid-feedback").text("");
              setTimeout(function(){
                location.reload();
              }, 1000);
            },
            error: function(error) {
              if(error.responseJSON.name != '') {
                $("#edit-category-name").addClass('is-invalid');
                $(".edit-name-error-message").text(error.responseJSON.name);
              }
              if(error.responseJSON.group_id != '') {
                $("#edit-category-group-id").addClass('is-invalid');
                $(".edit-group-error-message").text(error.responseJSON.group_id);
              }
            }
          });
        });

        $("#categoriesTable").on('click', '.deleteCategoryBtn', function() {
          let id = $(this).data("id");
          $("#delete-category-id").val(id);
        });

        $("#deleteCategoryForm").on('click', '.btnDelete', function(e){
          e.preventDefault();
          
          $.ajax({
            url: $("#deleteCategoryForm").attr('action'),
            type: "POST",
            data: $("#deleteCategoryForm").serialize(),

            success: function(response) {
              toastr.success(response.message);
              $("#deleteCategoryModal").modal('hide');
              setTimeout(function(){
                location.reload();
              }, 1000);
            },
            error: function(error) {
              
            }
          });
        });

      });

    </script>
  {% endblock %}