{% extends 'layouts/main.html' %}

{% block 'content' %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Users</h4>

  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class="d-flex justify-content-start">Users</h4>
      <a href="#" class="btn btn-primary d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#addUserModal">+ Add</a>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table" id="usersTable">
        <thead class="table-light">
          <tr>
            <th>NO</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% if usersCount > 0 %}
              {% for user in page_obj %}
              
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                
                <td class="float-right">
                  <a data-bs-toggle="modal" data-id="{{ user.id }}" data-firstname="{{ user.first_name }}" data-lastname="{{ user.last_name }}" data-username="{{ user.username }}" data-email="{{ user.email }}" data-role="{{ user.role_id }}" data-bs-target="#editUserModal" href='#' class="btn btn-warning btn-sm editUserBtn"><i class="fa fa-edit"></i></a> 
                  <a data-bs-toggle="modal" data-id="{{ user.id }}" data-bs-target="#deleteUserModal" href='#' class="btn btn-danger btn-sm deleteUserBtn"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="6">No data available in table</td>
               
              </tr>
              {% endif %}
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-end">
          {% if page_obj and page_obj.has_next or page_obj.has_previous %}
          <div class="pl-2">
            <nav aria-label="Page navigation example ml-5">
              <ul class="pagination float-right">
      
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}
      
                {% for n in nums %}
                  <li class="page-item">
                  {% if forloop.counter == page_obj.number %}
                    <a class="page-link active btn-primary">{{forloop.counter}}</a>
                  {% else %} 
                    <a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a>
                  {% endif %}
                  </li>
                {% endfor %}
      
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
      
              </ul>
            </nav>
          </div>
          {% endif %}
        </div>
  </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Add User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="addUserForm" action="{% url 'addUser' %}" method="POST">
        {% csrf_token %}
      <div class="modal-body">
          <div class="mb-3">
              <label>First Name <strong class="text-danger">*</strong></label>
              <input type="text" name="first_name" class="form-control" id="firstname-field">
              <span class="invalid-feedback firstname-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Last Name <strong class="text-danger">*</strong></label>
              <input type="text" name="last_name" class="form-control" id="lastname-field">
              <span class="invalid-feedback lastname-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Username <strong class="text-danger">*</strong></label>
              <input type="text" name="username" class="form-control" id="username-field">
              <span class="invalid-feedback username-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Email <strong class="text-danger">*</strong></label>
              <input type="email" name="email" class="form-control" id="email-field">
              <span class="invalid-feedback email-error-message"></span>
          </div>
          <div class="mb-3">
            <label>Role <strong class="text-danger">*</strong></label>
            <select name="role" id="role-field" class="form-control">
              <option value="">Choose Role</option>
              {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
              {% endfor %}
            </select>
            <span class="invalid-feedback role-error-message"></span>
          </div>
          <div class="mb-3">
            <input type="checkbox" checked name="is_active" id="is-active-field" value="1">
            <label class="ml-2">Is active </label>
        </div>
          <div class="mb-3">
              <label>Password <strong class="text-danger">*</strong></label>
              <input type="password" name="password" class="form-control" id="password-field">
              <span class="invalid-feedback password-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Confirm Password <strong class="text-danger">*</strong></label>
              <input type="password" name="confirm_password" class="form-control" id="confirm_password-field">
              <span class="invalid-feedback confirm_password-error-message"></span>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btnSave">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>


 <!-- Edit Group Modal -->

 <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="editUserForm" action="{% url 'editUser' %}" method="POST">
        {% csrf_token %}
      <div class="modal-body">
          <div class="mb-3">
              <label>First Name <strong class="text-danger">*</strong></label>
              <input type="text" name="first_name" class="form-control" id="edit-firstname-field">
              <span class="invalid-feedback edit-firstname-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Last Name <strong class="text-danger">*</strong></label>
              <input type="text" name="last_name" class="form-control" id="edit-lastname-field">
              <span class="invalid-feedback edit-lastname-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Username <strong class="text-danger">*</strong></label>
              <input type="text" name="username" class="form-control" id="edit-username-field">
              <span class="invalid-feedback edit-username-error-message"></span>
          </div>
          <div class="mb-3">
              <label>Email <strong class="text-danger">*</strong></label>
              <input type="email" name="email" class="form-control" id="edit-email-field">
              <span class="invalid-feedback edit-email-error-message"></span>
          </div>
          <div class="mb-3">
            <label>Role <strong class="text-danger">*</strong></label>
            <select name="role" id="edit-role-field" class="form-control">
              <option value="">Choose Role</option>
              {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
              {% endfor %}
            </select>
            <span class="invalid-feedback edit-role-error-message"></span>
          </div>
          <div class="mb-3">
            <input type="checkbox" checked name="is_active" id="edit-is-active-field" value="1">
            <label>Is active </label>
        </div>
      </div>
      <input type="hidden" name="edit_id" id="edit-user-id">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btnUpdate">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- delete Group modal -->

<!-- Modal HTML -->
<div id="deleteUserModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <div class="icon-box">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div> -->
        <h4 class="modal-title">Are you sure?</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="{% url 'deleteUser' %}" method="POST" id="deleteUserForm">

        {% csrf_token %}
        <input type="hidden" id="delete-user-id" name="delete_id">

      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger btnDelete">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>

                      <div
                        class="bs-toast toast fade show bg-success category-toast d-none"
                        role="alert"
                        aria-live="assertive"
                        aria-atomic="true"
                      >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold toast-title">Bootstrap</div>
                          {% comment %} <small>11 mins ago</small> {% endcomment %}
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                          
                        </div>
                      </div>

{% load static %}
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script>
    $(function(){
      $('#addUserForm').on('submit', function(event) {
        event.preventDefault();
        
        $.ajax({
            url: $("#addUserForm").attr('action'),
            type: 'POST',
            data: new FormData(this),
            
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            processData: false,
            contentType: false,
            success: function(response) {
              toastr.success(response.message);
              $("#addUserModal").modal('hide');
              $("#addUserForm").trigger('reset');
              $("#firstname-field").removeClass('is-invalid');
              $("#lastname-field").removeClass('is-invalid');
              $("#username-field").removeClass('is-invalid');
              $("#email-field").removeClass('is-invalid');
              $("#role-field").removeClass('is-invalid');
              $("#password-field").removeClass('is-invalid');
              
              $(".firstname-error-message").text("");
              $(".lastname-error-message").text("");
              $(".username-error-message").text("");
              $(".email-error-message").text("");
              $(".role-error-message").text("");
              $(".password-error-message").text("");
              
              $(".invalid-feedback").text("");
              setTimeout(function(){
                location.reload();
              }, 1000);
            },
            error: function(error) {
              console.log(error);
              if(error.responseJSON.first_name != '') {
                $("#firstname-field").addClass('is-invalid');
                $(".firstname-error-message").text(error.responseJSON.first_name);
              }
              if(error.responseJSON.last_name != '') {
                $("#lastname-field").addClass('is-invalid');
                $(".lastname-error-message").text(error.responseJSON.last_name);
              }
              if(error.responseJSON.username != '') {
                  $("#username-field").addClass('is-invalid');
                  $(".username-error-message").text(error.responseJSON.username);
              }
              if(error.responseJSON.email != '') {
                  $("#email-field").addClass('is-invalid');
                  $(".email-error-message").text(error.responseJSON.email);
              }
              if(error.responseJSON.role) != '') {
                $("#role-field").addClass('is-invalid');
                $(".role-error-message").text(error.responseJSON.role);
              }
              if(error.responseJSON.password != '') {
                  $("#password-field").addClass('is-invalid');
                  $(".password-error-message").text(error.responseJSON.password);
              }
            }
        });
    });
      
      $("#usersTable").on('click', '.editUserBtn', function() {
        let id = $(this).data("id");
        let firstname = $(this).data("firstname");
        let lastname = $(this).data("lastname");
        let username = $(this).data("username");
        let email = $(this).data('email');
        let role = $(this).data('role');
      
        $("#edit-user-id").val(id);
        $("#edit-firstname-field").val(firstname);
        $("#edit-lastname-field").val(lastname);
        $("#edit-username-field").val(username);
        $("#edit-email-field").val(email);
        $("#edit-role-field").val(role).trigger('change');
      });

      $("#editUserForm").on('submit', function(e){
        e.preventDefault();
        
        $.ajax({
          url: $("#editUserForm").attr('action'),
          type: "POST",
          data: new FormData(this),
          processData: false,
          contentType: false,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          success: function(response) {
            toastr.success(response.message);
            $("#editUserModal").modal('hide');
            $("#editUserModal").trigger('reset');
            $("#edit-firstname-field").removeClass('is-invalid');
            $("#edit-lastname-field").removeClass('is-invalid');
            $("#edit-username-field").removeClass('is-invalid');
            $("#edit-email-field").removeClass('is-invalid');
            $("#edit-role-field").removeClass('is-invalid');
            $(".invalid-feedback").text("");
            setTimeout(function(){
              location.reload();
            }, 1000);
          },
          error: function(error) {
            if(error.responseJSON.first_name != '') {
              $("#edit-firstname-field").addClass('is-invalid');
              $(".edit-firstname-error-message").text(error.responseJSON.first_name);
            }
            if(error.responseJSON.last_name != '') {
              $("#edit-lastname-field").addClass('is-invalid');
              $(".edit-lastname-error-message").text(error.responseJSON.last_name);
            }
            if(error.responseJSON.username != '') {
              $("#edit-username-field").addClass('is-invalid');
              $(".edit-username-error-message").text(error.responseJSON.username);
            }
            if(error.responseJSON.email != '') {
              $("#edit-email-field").addClass('is-invalid');
              $(".edit-email-error-message").text(error.responseJSON.email);
            }
            if(error.responseJSON.role != '') {
              $("#edit-role-field").addClass('is-invalid');
              $(".edit-role-error-message").text(error.responseJSON.role);
            }
          }
        });
      });

      $("#usersTable").on('click', '.deleteUserBtn', function() {
        let id = $(this).data("id");
        $("#delete-user-id").val(id);
      });

      $("#deleteUserForm").on('click', '.btnDelete', function(e){
        e.preventDefault();
        
        $.ajax({
          url: $("#deleteUserForm").attr('action'),
          type: "POST",
          data: $("#deleteUserForm").serialize(),

          success: function(response) {
            toastr.success(response.message);
            $("#deleteUserModal").modal('hide');
            setTimeout(function(){
              location.reload();
            }, 1000);
          },
          error: function(error) {
            
          }
        });
      });

    });
  </script>
{% endblock %}
