<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'dashboard' %}" class="app-brand-link">
        {% load static %}
        <span class="app-brand-logo demo">
          <img src="{% static 'images/crispikart-icon.png' %}" width="30px">
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Crispikart</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Dashboard</span></li>
      <li class="menu-item {% if request.path == '/dashboard/' %} active {% endif %}">
        <a href="{% url 'dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Layouts -->

  
      <!-- Components -->
      

      <!-- Extended components -->
      {% if request.user.is_superuser == True %}
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Restaurant</span></li>
      <li class="menu-item {% if request.path == '/profiles/' %} active {% endif %}">
        <a href="{% url 'profiles' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Settings">Restaurant</div>
        </a>
        
      </li>
      {% else %}
      <!-- Forms & Tables -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Menu's</span></li>
      <!-- Forms -->
      <li class="menu-item {% if request.path == '/groups/' or request.path == '/categories/' or request.path == '/add-ons/' or request.path == '/items/' %} active open {% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Form Elements">Menu</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item {% if request.path == '/groups/' %} active {% endif %}">
            <a href="{% url 'groups' %}" class="menu-link">
              <div data-i18n="Basic Inputs">Groups</div>
            </a>
          </li>
          <li class="menu-item {% if request.path == '/categories/' %} active {% endif %}">
            <a href="{% url 'categories' %}" class="menu-link">
              <div data-i18n="Input groups">Categories</div>
            </a>
          </li>
          <li class="menu-item {% if request.path == '/add-ons/' %} active {% endif %}">
            <a href="{% url 'add-ons' %}" class="menu-link">
              <div data-i18n="Basic Inputs">Add-ons</div>
            </a>
          </li>
          <li class="menu-item {% if request.path == '/items/' %} active {% endif %}">
            <a href="{% url 'items' %}" class="menu-link">
              <div data-i18n="Input groups">Food Items</div>
            </a>
          </li>
        </ul>
      </li>
      
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Orders</span></li>
      <li class="menu-item {% if request.path == '/order-status/' %} active open {% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Orders">Orders</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item {% if request.path == '/order-status/' %} active {% endif %}">
            <a href="{% url 'orderStatus' %}" class="menu-link">
              <div data-i18n="Input groups">Order Status</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Delivary Boys</span></li>
      <li class="menu-item {% if request.path == '/delivary-boys/' %} active {% endif %}">
        <a href="{% url 'delivary-boys' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Form Layouts">Delivary Boys</div>
        </a>
      </li>
      {% endif %}
    </ul>
  </aside>